@import '../../scss/variables';

.store__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 25px calc((100vw - 1200px) / 2);

  @media (max-width: 1230px) {
    padding: 25px;
  }

  @media (hover:none), (max-width: 899.9px) {
    padding: 105px 15px 15px;
    min-height: 100vh;
  }
}

.filters {
  @include flex-center;
  width: 60px;
  height: 60px;
  background-color: $base-brand-color;
  border-radius: 50%;
  background-image: url(../../assets/svg/filters.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  position: sticky;
  bottom: 25px;
  transform: translateX(-575px);
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    background-color: $dark-brand-color;
  }

  @media (max-width: 1230px) {  
    transform: translateX(calc(-50vw + 60px));
  }

  @media (hover:none), (max-width: 899.9px) {
    background-color: #ffb700;

    &:hover {
      background-color: #ffa200;
    }
  }
}