@import '../../scss/variables';

.cart__button {
  @include flex(0, center, center, 10px);
  min-width: 105px;
  height: 37px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }

  @media (hover:none), (max-width: 899.9px) {
    @include square(20px, 20px);
    min-width: 20px;
    border: none;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

.cart__ico {
  @include square(15px, 15px);
  background: url(../../assets/svg/shopping-cart.svg) no-repeat center left;
  background-size: 100%;
  cursor: pointer;
  position: relative;

  @media (hover:none), (max-width: 899.9px) {
    @include square(100%, 100%);
    background-image: url(../../assets/svg/shopping-cart-m.svg);
  }
}

.cart__text {
  font-size: 15px;

  @media (hover:none), (max-width: 899.9px) {
    display: none;
  }
}

.cart__not__empty {
  @include flex(0, center, center, 0);
  @include square(20px, 20px);
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 50%;
  background-color: #ff4447;
  color: white;
  font-size: 10px;
}

.cart__empty {
  display: none;
}