.phone__mail__container {
  display: flex;
  padding: 0 15px;
  gap: 50px;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    filter: invert(28%) sepia(96%) saturate(729%) hue-rotate(168deg) brightness(99%) contrast(100%);
  }
}

.phone__ico, .mail__ico {
  width: 20px;
  height: 20px;
}

.phone__ico {
  background: url(../../assets/svg/phone-call.svg) no-repeat center;
  background-size: 100%;
}

.mail__ico {
  background: url(../../assets/svg/envelope.svg) no-repeat center;
  background-size: 100%;
}

.phone__text, .mail__text {
  font-size: 15px;
}