@import '../../../scss/variables';

.purchase {
  display: flex;
  width: 100%;
  box-shadow: #bbbbbb 1px 1px 5px 0px;
  padding: 15px;
  position: relative;
}

.purchase__image {
  @include flex(0, center, center, 0);
  width: 20%;
  min-height: 150px;

  img {
    max-width: 150px;
    max-height: 150px;

    @media (hover:hover) and (min-width: 700.1px) {
      max-width: clamp(100px, 18vw, 165px);
      max-height: clamp(100px, 18vw, 165px);
    } 
  }

  @media (max-width: 700px) {
    width: 45%;   
  }
}

.purchase__info__container {
  @include flex(0, space-between, center, 12px);
  padding: 0 0 0 2vh;
  width: 75%;

  @media (max-width: 700px) {
    flex-direction: column;
    width: 55%;
  }
}

.purchase__title {
  color: $dark-brand-color;
  font-size: 15px;
  cursor: pointer;

  @media (min-width: 700.1px) {
    width: 35%;
  }
}

.purchase__amount {
  @include flex(0, center, center, 0);

  @media (min-width: 700.1px) {
    width: 25%;
  }

  .decrease, .increase, .amount {
    @include flex(0, center, center, 0);
    font-size: 20px;
    user-select: none;
  }

  .decrease, .increase {
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 5px;
    @include square(30px, 30px);

    &:hover {
      background-color: #e9e9e9;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  .amount {
    min-width: 30px;
  }
  
}

.purchase__price {
  color: #333333;
  font-size: 20px;

  @media (min-width: 700.1px) {
    width: 15%;
  }
}

.purchase__remove {
  @include flex(0, center, center, 0);
  @include square(20px, 20px);
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 20px;
  background-color: #eeeeee;
  border-radius: 50%;
  color: $base-brand-color;
  cursor: pointer;

  &:hover {
    border: 2px solid red;
    color: red;
  }

  &:active {
    transform: scale(0.97);
  }
}