@import '../../../scss/variables';

.card {
  @include flex(0, space-between, center, 0);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding: 15px;
  cursor: default;
}

.card__row {
  @include flex(0, space-around, 0, 0);
  width: 75%;
}

.card__image {
  @include flex(0, center, center, 0);

  img {
    max-width: clamp(125px, 20vw, 200px);
    max-height: clamp(125px, 20vw, 200px);
  }
}

.card__text__container {
  @include flex(column, 0, 0, 0);
  width: 60%;
  padding: 3%;
}

.card__col {
  @include flex(column, center, 0, 30px);
  width: 20%;
}

.card__name {
  color: $dark-brand-color;
  font-size: 18px;
  cursor: pointer;
}

.card__description {
  font-size: 13px;
  padding: 3% 0;
}

.card__stars {
  // save size proportion 275 x 50
  @include square(90px, 16px);
  position: relative;

  &::after {
    content: '';
    @include square(100%, 100%);
    background: url(../../../assets/png/evaluate-stars.png) no-repeat center;
    background-size: 101%;
    position: absolute;
  }
}

.card__price {
  color: #333333;
  font-size: 20px;
}