@import '../../scss/variables';

.search__container {
  @include flex(0, 0, center, 10px);
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 0 10px;
  background-color: white;
  position: relative;

  @media (hover:none), (max-width: 899.9px) {
    position: absolute;
    top: 45px;
    width: calc(100% - 50px);
    height: 30px;
    border: none;
  }
}

.search__ico {
  @include square(20px, 20px);
  background: url(../../assets/svg/search.svg) no-repeat center left;
  background-size: 100%;
  opacity: 0.5;
  cursor: pointer;

  @media (hover:none), (max-width: 899.9px) {
    @include square(15px, 15px);
  }
}

.search__input {
  @include square(33vw, 20px);
  font-size: 15px;

  @media (hover:none), (max-width: 899.9px) {
    width: 100%;
  }
}

.searching__results {
  @include flex(column, 0, 0, 15px);
  width: calc(100% - 30px);
  background-color: #fafafa;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  top: 40px;
  left: 15px;
  z-index: 102;

  @media (hover:none), (max-width: 899.9px) {
    top: 35px;
  }

  .result {
    overflow: hidden;
    cursor: pointer;
  }
}

.off {
  display: none;
}