.search__container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 0 10px;
  background-color: white;

  @media (hover:none), (max-width: 899.9px) {
    position: absolute;
    top: 45px;
    width: calc(100% - 50px);
    height: 30px;
    border: none;
  }
}

.search__ico {
  width: 20px;
  height: 20px;
  background: url(../../assets/svg/search.svg) no-repeat center left;
  background-size: 100%;
  opacity: 0.5;
  cursor: pointer;

  @media (hover:none), (max-width: 899.9px) {
    width: 15px;
    height: 15px;
  }
}

.search__input {
  width: 33vw;
  height: 20px;
  font-size: 15px;

  @media (hover:none), (max-width: 899.9px) {
    width: 100%;
  }
}