header {
  display: flex;
  flex-direction: column;
  height: 120px;
  background-color: #f7f8fa;
}

.first__row__container, .second__row__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 150px;
}

.second__row__container {
  height: 80px;
  border-top: 1px solid #dddddd;
}

.brand__logo {
  font-size: 30px;
  font-weight: 900;
  background: linear-gradient(90deg, #034369, #0969A2, #3D9AD1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.login__cart__container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
  min-width: 220px;
}