@import '../../scss/variables';

header {
  @include flex(column, 0, 0, 0);
  @include square(100%, 120px);
  background-color: #f7f8fa;

  @media (hover:none), (max-width: 899.9px) {
    height: 90px;
    background: linear-gradient(90deg, $base-brand-color, $light-brand-color);
    position: fixed;
    top: 0;
    z-index: 98;
  }
}



.first__row__container, .second__row__container {
  @include flex(0, space-between, center, 0);
  height: 40px;
  padding: 0 calc((100vw - 1200px) / 2);

  @media (max-width: 1230px) {
    padding: 0 25px;
  }
}

.first__row__container {
  @media (hover:none), (max-width: 899.9px) {
    display: none;
  }
}

.second__row__container {
  height: 80px;
  border-top: 1px solid #dddddd;

  @media (hover:none), (max-width: 899.9px) {
    align-items: start;
    padding: 10px 25px;
  }
}



.phone__mail__container {
  @include flex(0, 0, 0, 50px);
  padding: 0 15px;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.contacts__link__phone, .contacts__link__mail {
  @include flex(0, 0, center, 10px);
  font-size: 15px;

  &::before {
    content: '';
    @include square(20px, 20px);
  }

  &:hover {
    filter: invert(28%) sepia(96%) saturate(729%) hue-rotate(168deg) brightness(99%) contrast(100%);
  }
}

.contacts__link__phone {
  &::before {
    background: url(../../assets/svg/phone-call.svg) no-repeat center;
    background-size: 100%;
  }
}

.contacts__link__mail {
  &::before {
    background: url(../../assets/svg/envelope.svg) no-repeat center;
    background-size: 100%;
  }
}



.burger {
  display: none;

  @media (hover:none), (max-width: 899.9px) {
    display: flex;
    @include square(60px, 20px);
    background: url(../../assets/svg/menu-burger.svg) no-repeat left;
    background-size: contain;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}



.brand__logo {
  @include flex(0, 0, center, 0);
  font-size: 30px;
  font-weight: 900;
  background: linear-gradient(90deg, $dark-brand-color, $base-brand-color, $light-brand-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;

  @media (hover:none), (max-width: 899.9px) {
    height: 20px;
    background: transparent;
    -webkit-text-fill-color: white;
    font-size: 25px;
  }
}



.login__cart__container {
  @include flex(0, end, center, 7px);
  min-width: 220px;

  @media (hover:none), (max-width: 899.9px) {
    justify-content: center;
    gap: 20px;
    width: 60px;
    min-width: 60px;
  }
}

.login__button {
  @include flex(0, center, center, 10px);
  min-width: 105px;
  height: 37px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }

  @media (hover:none), (max-width: 899.9px) {
    @include square(20px, 20px);
    min-width: 20px;
    border: none;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

.login__ico {
  @include square(15px, 15px);
  background: url(../../assets/svg/user.svg) no-repeat center left;
  background-size: 100%;
  cursor: pointer;

  @media (hover:none), (max-width: 899.9px) {
    @include square(100%, 100%);
    background-image: url(../../assets/svg/user-m.svg);
  }
}

.login__text {
  font-size: 15px;

  @media (hover:none), (max-width: 899.9px) {
    display: none;
  }
}