.cart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 160px);

  @media (hover:none), (max-width: 899.9px) {
    min-height: 100vh;
  }
}