main {
  
  @media (hover:none), (max-width: 899.9px) {
    min-height: 100vh;
    padding: 90px 0 0; 
  }
}

.popular {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  place-items: center;
  gap: 10px;
  width: 100%;
  padding: 40px calc((100vw - 1220px) / 2);

  @media (max-width: 1230px) {
    padding: 30px 10px;
  }

  @media (hover:none), (max-width: 899.9px) {
    grid-template: auto / 1fr;
    padding: 10px 0;
  }
}