$base-brand-color: #0969A2;
$light-brand-color: #3D9AD1;
$dark-brand-color: #034369;



@mixin square ($width, $height) {
  width: $width;
  height: $height;
}



@mixin flex ($fd, $jc, $ai, $g) {
  display: flex;
  @if $fd != 0 {
    flex-direction: $fd;
  }
  @if $jc != 0 {
    justify-content: $jc;
  }
  @if $ai != 0 {
    align-items: $ai;
  }
  @if $g != 0 {
    gap: $g;
  }
}